<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-item"><a href="/over">Over</a></li>
        <li class="navigation-item"><a href="/pakketten">Pakketten</a></li>
        <li class="navigation-item"><a href="/contact">Contact</a></li>
    </ul>
</div>

<style>
.navigation {

}

.navigation-list {

}

.navigation-item {
    
}
</style>