---
import Header from '../components/Header.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/12c0c2dc91.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		-webkit-font-smoothing: antialiased;
  		-moz-osx-font-smoothing: grayscale;
		font-family: system-ui, sans-serif;
		background-color: #fff;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}

	.button {
		@apply relative cursor-pointer select-none bg-none rounded-lg;
		@apply text-white bg-black border border-black font-medium;
		@apply px-6 flex items-center justify-center max-w-full;
	}

	.button-large {
		@apply h-12 leading-6;
	}

	.button-sea {
		@apply text-white bg-gradient-to-b from-sea-300 to-sea-600 border-sea;
	}

	.button-lime {
		@apply text-white bg-gradient-to-b from-lime-300 to-lime-600 border-lime;
	}

	.button-peach {
		@apply text-white bg-gradient-to-b from-peach-300 to-peach-600 border-peach;
	}

	.button-disabled {
		@apply opacity-30
	}
</style>
